@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #333;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 60px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

button {
  border: 3px solid #333;
  border-radius: 7px;
  padding: 5px 15px;
  margin: 5px;
  background: transparent;
  cursor: pointer;
  transition: 0.4s;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

button:hover {
  background-color: #333;
  color: #fff;
}
